* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --ff-primary : 'Poppins', sans-serif;
  --text-color : #303030;
  --hue : 194;
  --primary-color: hsl(var(--hue),100%, 63% ) 
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: rgb(242, 245, 245);
}

body * {
  font-family: 'Poppins', sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;

 }
#app {
  padding: 2rem;
  max-width: 50rem;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 2.4rem 0;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  height: 3.2rem;
  border: 1px solid #ccc;
  border-radius: .4rem 0 0 .4rem;
  padding: 0 .8rem;
}

.search button {
  background: var(--primary-color);
  border: none;
  height: 3.2rem;
  border-radius: 0 .4rem .4rem 0;
  padding: 0 1rem;
  cursor: pointer;
}

.search button:hover {
  filter: brightness(1.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 1px 2rem .4rem rgba(0, 0, 0, 0.3);
}

table * {
  font-size: 1.4rem;
}

table th {
 background: var(--primary-color);
 text-align: left;
 font-weight: normal;
 padding: 1rem;
}

table th:first-child {
  border-top-left-radius: .4rem;
}

table th:last-child {
  border-top-right-radius: .4rem;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

table tr:nth-child(odd) {
  background-color: #ddd;
}

table tr {
  background-color: #eee;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
td.user img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;

}

td.user p {
  font-weight: bold;
}

td.user a {
  text-decoration: none;
}

td .remove {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}